* {
    font-family: "Noto Serif TC", serif !important;
    --vh: 10px;
    user-select: none;
}

body {
    background-image: url(../img/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: inherit;
    overflow: hidden;
}
