* {
    font-family: "Noto Sans TC", sans-serif !important;
    --vh: 10px;
    user-select: none;
}

body {
    background-image: url(../img/bg-2.png);
    background-repeat: no-repeat;
    background-size: 800px;
    overflow: hidden;
    background-color: #e8ddcb;
    background-position: calc(50% - 50px) 50%;
    @media (min-width: 768px) {
        background-size: 1200px;
    }
}
