* {
    font-family: "Noto Sans TC", sans-serif !important;
    --vh: 10px;
    user-select: none;
}

body {
    background-image: url(../img/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    overflow: hidden;
    background-color: #e8ddcb;
    background-position: 30% 50%;
}
