#game,#game-test {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);

    h3 {
        padding: 1rem;
        text-align: justify;
        transform: translateZ(0);
    }

    p {
        text-align: left;
        padding: 0 1rem;
        transform: translateZ(0);
    }

    h3.end {
        font-size: 2rem;
        line-height: 1.5;
        text-align: center;
    }
}

.dialog {
    transform: translateZ(0);
    width: 100%;
    bottom: 0;
    color: #000;
    text-align: center;
    margin: 0;
    margin-top: 0.25rem;
    padding: 0.25rem 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3;
}

#checkid {
    margin: 3px 0;
}

.optionlist {
    list-style: none;
    padding: 0;
    place-items: center;
    line-height: 1.5;
    padding: 0 55px;
}

.option2,
.option2:focus,
.option2:hover {
    align-content: center;
    line-height: 1.5;
    padding: 10px 0;
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 4px;
    background-color: #92a5fc;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform ease-in 0.1s;
    margin: 1rem 0;
    width: 65%;
    box-shadow: 0px 3px 1px 1px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.option2:before,
.option2:after {
    content: "";
    display: block;
    position: absolute;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.option2a {
    transform: translateY(5px) scale(1);
    background-color: rgba(146, 209, 252, 0.7);
    box-shadow: inset 0px -2px 1px 0px rgba(0, 0, 0, 1);
    &:before {
        display: block;
        top: -75%;
        background-image: radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%),
            radial-gradient(circle, transparent 20%, rgba(98, 157, 203, 0.7) 20%, transparent 30%),
            radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%),
            radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, rgba(98, 157, 203, 0.7) 15%, transparent 20%),
            radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%),
            radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%),
            radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%),
            radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%);
        background-size:
            10% 10%,
            20% 20%,
            15% 15%,
            20% 20%,
            18% 18%,
            10% 10%,
            15% 15%,
            10% 10%,
            18% 18%;
        animation: anim-top ease-in-out 0.75s forwards;
        -webkit-animation: anim-top ease-in-out 0.75s forwards;
    }

    &:after {
        display: block;
        bottom: -75%;
        background-image: radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%),
            radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, rgba(98, 157, 203, 0.7) 15%, transparent 20%),
            radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%),
            radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%),
            radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%),
            radial-gradient(circle, rgba(98, 157, 203, 0.7) 20%, transparent 20%);
        background-size:
            15% 15%,
            20% 20%,
            18% 18%,
            20% 20%,
            15% 15%,
            10% 10%,
            20% 20%;
        animation: anim-bottom ease-in-out 0.75s forwards;
        -webkit-animation: anim-bottom ease-in-out 0.75s forwards;
    }
}

.option2:hover {
    background-color: rgba(146, 209, 252, 0.7);
}

@keyframes anim-top {
    0% {
        display: block;
        background-position:
            5% 90%,
            10% 90%,
            10% 90%,
            15% 90%,
            25% 90%,
            25% 90%,
            40% 90%,
            55% 90%,
            70% 90%;
    }

    50% {
        background-position:
            0% 80%,
            0% 20%,
            10% 40%,
            20% 0%,
            30% 30%,
            22% 50%,
            50% 50%,
            65% 20%,
            90% 30%;
    }

    100% {
        display: none;
        background-position:
            0% 70%,
            0% 10%,
            10% 30%,
            20% -10%,
            30% 20%,
            22% 40%,
            50% 40%,
            65% 10%,
            90% 20%;
        background-size:
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%;
    }
}

@keyframes anim-bottom {
    0% {
        display: block;
        background-position:
            10% -10%,
            30% 10%,
            55% -10%,
            70% -10%,
            85% -10%,
            70% -10%,
            70% 0%;
    }

    50% {
        background-position:
            0% 80%,
            20% 80%,
            45% 60%,
            60% 100%,
            75% 70%,
            95% 60%,
            105% 0%;
    }

    100% {
        display: none;
        background-position:
            0% 90%,
            20% 90%,
            45% 70%,
            60% 110%,
            75% 80%,
            95% 70%,
            110% 10%;
        background-size:
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%;
    }
}

.option1,
.option1:focus {
    align-content: center;
    line-height: 1.5;
    display: inline-block;
    border-radius: 4px;
    background-color: #92a5fc;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform ease-in 0.1s;
    margin: 1rem 0;
    width: 65%;
    box-shadow: 0px 3px 1px 1px rgba(0, 0, 0, 1);
    cursor: pointer;
    position: relative;
    min-width: 200px;
    background-color: black;
    border-radius: 4em;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.4s;
    padding: 10px 20px;
}
.option1:hover {
    background-color: #3a3a3a;
    color: white;
    transition-duration: 0.1s;
}
.option1:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
    border-radius: 4em;
}
.option1:active:after {
    opacity: 1;
    transition: 0s;
    box-shadow: 0 0 0 0 white;
}
.option1:active {
    top: 1px;
}

.option3 {
    $button-text-color: #fff;
    $baby-blue: #f8faff;
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    line-height: 1.5;
    font-size: 1em;
    padding: 1rem 0.5rem;
    margin: 1rem;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: $button-text-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition:
        transform ease-in 0.1s,
        box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    width: 65%;
    text-decoration: none;
    &:focus {
        outline: 0;
    }

    &:before,
    &:after {
        position: absolute;
        content: "";
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
    }

    &:before {
        display: none;
        top: -75%;
        background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
            radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
        background-size:
            10% 10%,
            20% 20%,
            15% 15%,
            20% 20%,
            18% 18%,
            10% 10%,
            15% 15%,
            10% 10%,
            18% 18%;
        //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
    }

    &:after {
        display: none;
        bottom: -75%;
        background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
        background-size:
            15% 15%,
            20% 20%,
            18% 18%,
            20% 20%,
            15% 15%,
            10% 10%,
            20% 20%;
        //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    // &:active {
    // }

    &.animate {
        transform: scale(0.9);
        background-color: darken(#ff0081, 5%);
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
        &:before {
            display: block;
            animation: topBubbles ease-in-out 0.75s forwards;
        }
        &:after {
            display: block;
            animation: bottomBubbles ease-in-out 0.75s forwards;
        }
    }
}

@keyframes topBubbles {
    0% {
        background-position:
            5% 90%,
            10% 90%,
            10% 90%,
            15% 90%,
            25% 90%,
            25% 90%,
            40% 90%,
            55% 90%,
            70% 90%;
    }
    50% {
        background-position:
            0% 80%,
            0% 20%,
            10% 40%,
            20% 0%,
            30% 30%,
            22% 50%,
            50% 50%,
            65% 20%,
            90% 30%;
    }
    100% {
        background-position:
            0% 70%,
            0% 10%,
            10% 30%,
            20% -10%,
            30% 20%,
            22% 40%,
            50% 40%,
            65% 10%,
            90% 20%;
        background-size:
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position:
            10% -10%,
            30% 10%,
            55% -10%,
            70% -10%,
            85% -10%,
            70% -10%,
            70% 0%;
    }
    50% {
        background-position:
            0% 80%,
            20% 80%,
            45% 60%,
            60% 100%,
            75% 70%,
            95% 60%,
            105% 0%;
    }
    100% {
        background-position:
            0% 90%,
            20% 90%,
            45% 70%,
            60% 110%,
            75% 80%,
            95% 70%,
            110% 10%;
        background-size:
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%;
    }
}
