.container {
    padding: 0;
    margin: 0;
    height: calc(var(--vh, 1vh) * 100);
    place-self: center;
    max-height: -webkit-fill-available;
    width: 100vw;

    @media (min-width: 768px) {
        height: 100vh;
        margin: 0 auto;
    }
}

.main {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-height: -webkit-fill-available;
    z-index: 0;
    border: black 1px solid;
    position: relative;
    margin: 0 auto;
    background-color: #725555;

    .bg {
        position: absolute;
        background-image: url(../img/introbg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.7;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    > a {
        position: absolute;
        color: rgb(250, 250, 250);
        top: 5px;
        border: 1px solid rgb(250, 250, 250);
        border-radius: 5px;
    }

    @media (min-width: 768px) {
        max-height: 800px;
        min-height: 350px;
        height: calc(95vh - 60px);
        width: min(95vw, 400px);
    }
}
#on-off {
    right: 5px;
    @media (min-width: 768px) {
        right: -50px;
        background-color: #725555;
    }
}
#list {
    left: 5px;
    @media (min-width: 768px) {
        left: -50px;
        background-color: #725555;
    }
}

.more {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-image: url(../img/bg-3.png);
    background-size: cover;
    .inner {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        width: min(80%, 400px);
        padding-top: 50px;
        margin: auto;
        height: 65%;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;

        a {
            display: block;
            text-decoration: none;
            padding: 0.5rem 0.5rem;
            color: rgb(70, 70, 70);
        }

        #close-more {
            animation: closerotate ease-in-out 0.75s forwards;
        }

        .links {
            margin: auto;
            a {
                animation: transX0 ease-in-out 1s forwards;
            }
            :nth-child(1) {
                transform: translateX(-120px);
            }
            :nth-child(2) {
                transform: translateX(-140px);
                animation-duration: 1025ms;
                animation-delay: 50ms;
            }
            :nth-child(3) {
                transform: translateX(-160px);
                animation-duration: 1050ms;
                animation-delay: 100ms;
            }
            :nth-child(4) {
                transform: translateX(-180px);
                animation-duration: 1075ms;
                animation-delay: 125ms;
            }
            :nth-child(5) {
                transform: translateX(-200px);
                animation-duration: 1100ms;
                animation-delay: 150ms;
                color: rgb(170, 45, 45);
            }
        }
        .icon-links {
            transform: translateX(300px);
            animation: transX0 ease-in-out 0.75s forwards;
            margin-top: auto;
        }
    }
    #close-more {
        position: absolute;
        top: 5%;
        padding: 0;
        color: rgb(173, 173, 173);
        border: 1px solid rgb(250, 250, 250);
        border-radius: 5px;
        background-color: rgb(250, 250, 250);
    }
    .ending.outer {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(72, 55, 55, 0.7);
        .inner {
            background-color: rgba(255, 255, 255, 1);
            transform: translateY(-50%);
            top: 50%;
            height: 70%;
            width: 50%;
            padding: 50px 20px;
            #close-memory {
                position: absolute;
                top: 1.25%;
                padding: 0;
                color: rgb(173, 173, 173);
                border: 1px solid rgb(250, 250, 250);
                border-radius: 5px;
                background-color: rgb(250, 250, 250);
                left: 50%;
                transform: translateX(-50%);
            }
            .col {
                height: calc(70vh * 0.7 * 0.6 * 0.5);
                background-color: #725555;
                text-align: center;
                align-content: center;
                color: wheat;
                @media (min-width: 768px) {
                    height: calc(70vh * 0.7 * 0.6);
                }
            }
        }
    }
}

.business {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    height: 15%;
    text-align: center;
    border-radius: 15px 15px 0 0;
    align-content: center;
}

.fadein {
    animation: fadein ease-in-out 0.75s forwards;
    animation-direction: normal;
}
.fadeout {
    animation: fadeout ease-in-out 0.75s forwards;
    animation-direction: normal;
}

.transX0 {
    animation: transX0 ease-in-out 0.75s forwards;
}

@keyframes fadein {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeout {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-200px);
        opacity: 0;
    }
}

@keyframes transX0 {
    80% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes closerotate {
    0% {
        transform: translateY(-60px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(360deg);
    }
}

#window {
    width: 85%;
    height: 75%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 3;
}

#Love_Logo {
    width: 80%;
}
