.container {
    padding: 0;
    margin: 0;
    height: calc(var(--vh, 1vh) * 100);
    place-self: center;
    max-height: -webkit-fill-available;
    width: 100vw;

    @media (min-width: 768px) {
        height: 100vh;
        margin: 0 auto;
    }
}

.main {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-height: -webkit-fill-available;
    z-index: 0;
    border: black 1px solid;
    position: relative;
    margin: 0 auto;
    background-color: #725555;

    .bg {
        position: absolute;
        background-image: url(../img/introbg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.7;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    >a {
        position: absolute;
        color: rgb(250, 250, 250);
        top: 5px;
        border: 1px solid rgb(250, 250, 250);
        border-radius: 5px;
    }

    @media (min-width: 768px) {
        max-height: 700px;
        min-height: 350px;
        height: calc(95vh - 60px);
        width: min(95vw, 375px);
    }
}
#on-off {
    right: 5px;
    @media (min-width: 768px) {
        right: -50px;
        background-color: #725555;
    }
}
#list {
    left: 5px;
    @media (min-width: 768px) {
        left: -50px;
        background-color: #725555;
    }
}

.more {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-image: url(../img/bg-3.png);
    background-size: cover;

    .inner {
        background-color: rgba(255, 255, 255, 0.7);
        padding:50px 20px 30px 20px;
        border-radius: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
            display: block;
            text-decoration: none;
            padding: 1rem 0.5rem;
        }

        #close-more{
            transform: translateY(-60px);
            animation: closerotate ease-in-out 0.75s forwards;
        }

        .links{
            padding-bottom: 30px;
            a{
                animation: transX0 ease-in-out 1.0s forwards;
            }
            :nth-child(1){
                transform: translateX(-120px);
            }
            :nth-child(2){
                transform: translateX(-140px);
                animation-duration: 1.1s;
                animation-delay: 0.1s;
            }
            :nth-child(3){
                transform: translateX(-160px);
                animation-duration: 1.2s;
                animation-delay: 0.2s;
            }
        }
        .icon-links{
            transform: translateX(300px);
            animation: transX0 ease-in-out 0.75s forwards;
        }

    }
    #close-more {
        position: absolute;
        top: 10px;
        // left: 5px;
        padding: 0;
        color: rgb(250, 250, 250);
        border: 1px solid rgb(250, 250, 250);
        border-radius: 5px;
        background-color: rgb(250, 250, 250);
        @media (min-width: 768px) {
            // left: -50px;
        }
    }
}

.fadein{
    animation: fadein ease-in-out 0.75s forwards;
    animation-direction: normal;
}
.fadeout{
    animation: fadeout ease-in-out 0.75s forwards;
    animation-direction: normal;
}

.transX0{
    animation: transX0 ease-in-out 0.75s forwards;
}

@keyframes fadein{
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeout{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-200px);
        opacity: 0;
    }
}

@keyframes transX0{
    80%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes closerotate{
    0%{
        transform: translateY(-60px) rotate(0);
    }
    100%{
        transform: translateY(0) rotate(360deg);
    }
}

#window {
    width: 85%;
    height: 75%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 3;
}
