.loadframe {
    width: 300px;
    height: 300px;
    background: #03bafc;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #fff;
    outline: 5px solid #03bafc;
    position: relative;

    .loading {
        width: 450px;
        height: 450px;
        background: #52bdff;
        border-radius: 43%;
        animation: spin 5s linear infinite;
        position: absolute;
        bottom: 100px;
        left: -75px;
    }

    .second {
        animation-delay: 0.5s;
        background: #fff;
        border-radius: 45%;
        bottom: 0px;
    }
}

.num {
    position: absolute;
    font-family: system-ui;
    font-size: 30px;
    color: #0369ad;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
    }

    100% {
        transform: rotate(360deg);
    }
}

.loadover {
    animation: loadover 3s linear forwards;
}

@keyframes loadover {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        scale: 1;
    }

    100% {
        transform: rotate(1080deg);
        opacity: 0;
        scale: 0.5;
    }
}

.bgfadeout {
    animation: bgfadeout 1.5s linear forwards;
    margin-top: -7px;
}

@keyframes bgfadeout {
    100% {
        opacity: 0;
        z-index: -1;
        background: transparent;
    }
}

#intrologo {
    width: 50%;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    opacity: 0;
    max-width: 375px;
}

#introbg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: black;

    .outframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
    }
}