#introbg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: black;

    .outframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: min(50%,200px);
    }
}

.loadframe {
    width: 100%;
    aspect-ratio: 1/1;
    background: #03bafc;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #fff;
    outline: 5px solid #03bafc;
    position: relative;

    .loading {
        width: 150%;
        height: 150%;
        background: #52bdff;
        border-radius: 43%;
        animation: spin 5s linear infinite;
        position: absolute;
        bottom: -50px;
        left: -25%;
    }

    .second {
        animation-delay: 0.5s;
        background: #fff;
        border-radius: 45%;
        bottom: 0px;
    }
}

.num {
    position: absolute;
    font-family: system-ui;
    font-size: 30px;
    color: #0369ad;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
    }

    100% {
        transform: rotate(360deg);
    }
}

.bgfadeout {
    animation: bgfadeout 1.5s linear forwards;
    margin-top: -7px;
}

@keyframes bgfadeout {
    100% {
        opacity: 0;
        z-index: -1;
        background: transparent;
    }
}

#intrologo {
    top: 50%;
    left: 52%;
    position: relative;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: min(375px,75%);
}

.intro-business{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.intro-business{
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 15px 15px 0 0;
    div{
        max-width: calc(100% / 3);
        padding: 1rem 2rem;
        img{
            max-height: 6vh;
        }
    }
}